{% extends './base.html' %}
 {% load static %}
 {% comment %} {% extends './Base.html' %} {%load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% block content %} 
    <div class="row">
      <div class="col-xl">
        <div class="card mb-4">
          <div
            class="card-header d-flex justify-content-between align-items-center"
          >
            <h5 class="mb-0">Basic with Icons</h5>
            <small class="text-muted float-end">Merged input group</small>
          </div>
          <div class="card-body">
            <form method="POST">
                {% csrf_token %}
              <div class="mb-3">
                <label class="form-label" for="basic-icon-default-fullname"
                  >Full Name</label
                >
                <div class="input-group input-group-merge">
                  <span
                    id="basic-icon-default-fullname2"
                    class="input-group-text"
                    ><i class="bx bx-user"></i
                  ></span>
               <input
                    type="text"
                    class="form-control"
                    id="basic-icon-default-fullname"
                    placeholder="John Doe"
                    aria-label="John Doe"
                    aria-describedby="basic-icon-default-fullname2"
                  /> 
                     <div
                  class="form-control"
                    id="basic-icon-default-fullname"
                    placeholder="John Doe"
                    aria-label="John Doe"
                    aria-describedby="basic-icon-default-fullname2">
                  {{form.title | as_crispy_field}}
                  {{form.description | as_crispy_field}}
                  {{form.technology | as_crispy_field}}
                  {{form.estimated_time | as_crispy_field}}
                  {{form.start_date | as_crispy_field}}
                  {{form.completion_date | as_crispy_field}}
                  </div>
                </div>
              
              </div>
              <button type="submit" class="btn btn-primary">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock content %}
  </body>
</html> 

<form method="POST" enctype ="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Submit">
</form>  {% endcomment %}

{% comment %} {% extends '../base.html' %} {% endcomment %}
<!--<form method="POST" enctype ="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="Submit">
</form>-->
{% block content %}
{% load crispy_forms_tags %}
<h2>this is your profile page</h2>
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Defect Tracking</title>
</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
              {% comment %} for logo uploding {% endcomment %}
           <a class="navbar-brand brand-logo mr-5" href="">
            <img src="{% static 'images/pngwing.com.png'%}" class="mr-2" alt="logo">
              <a class="navbar-brand brand-logo-mini" href=""><img src="{% static 'images/pngwing.com.png' %}" alt="logo"/></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
              <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              </button>
              <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                  </a>
                  <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                    <!--<a class="dropdown-item">
                      <i class="ti-settings text-primary"></i>
                      Settings
                    </a>-->
                    <a class="dropdown-item" href="{% url 'logout' %}">
                      <i class="ti-power-off text-primary"></i>
                      Logout
                    </a>
                  </div>
                </li>
              </ul>
              <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="icon-menu"></span>
              </button>
            </div>
          </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
          <!-- partial:../../partials/_settings-panel.html -->
          <div id="right-sidebar" class="settings-panel">
            <i class="settings-close ti-close"></i>
            <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
              </li>
            </ul>
            <div class="tab-content" id="setting-content">
              <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
                <div class="add-items d-flex px-3 mb-0">
                  <form class="form w-100">
                    <div class="form-group d-flex">
                      <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                      <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                    </div>
                  </form>
                </div>
                <div class="list-wrapper px-3">
                  <ul class="d-flex flex-column-reverse todo-list">
                    <li>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="checkbox" type="checkbox">
                          Team review meeting at 3.00 PM
                        </label>
                      </div>
                      <i class="remove ti-close"></i>
                    </li>
                    <li>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="checkbox" type="checkbox">
                          Prepare for presentation
                        </label>
                      </div>
                      <i class="remove ti-close"></i>
                    </li>
                    <li>
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="checkbox" type="checkbox">
                          Resolve all the low priority tickets due today
                        </label>
                      </div>
                      <i class="remove ti-close"></i>
                    </li>
                    <li class="completed">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="checkbox" type="checkbox" checked>
                          Schedule meeting for next week
                        </label>
                      </div>
                      <i class="remove ti-close"></i>
                    </li>
                    <li class="completed">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="checkbox" type="checkbox" checked>
                          Project review
                        </label>
                      </div>
                      <i class="remove ti-close"></i>
                    </li>
                  </ul>
                </div>
                <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
                <div class="events pt-4 px-3">
                  <div class="wrapper d-flex mb-2">
                    <i class="ti-control-record text-primary mr-2"></i>
                    <span>Feb 11 2018</span>
                  </div>
                  <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
                  <p class="text-gray mb-0">The total number of sessions</p>
                </div>
                <div class="events pt-4 px-3">
                  <div class="wrapper d-flex mb-2">
                    <i class="ti-control-record text-primary mr-2"></i>
                    <span>Feb 7 2018</span>
                  </div>
                  <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
                  <p class="text-gray mb-0 ">Call Sarah Graves</p>
                </div>
              </div>
              <!-- To do section tab ends -->
              <!-- chat tab ends -->
            </div>
          </div>
          <!-- partial -->
          <!-- partial:../../partials/_sidebar.html -->
          {% comment %} {% include 'navbar.html' %} {% endcomment %}
          <!-- partial -->
          <div class="main-panel">        
            <div class="content-wrapper">
              <div class="row">
                <div class="col-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h3 class="card-title">ADD PROJECT DETAILS</h3>
                      <form class="forms-sample" method="POST">
                        <input type="hidden" name="csrfmiddlewaretoken" value="FkLjp9CuvqCCJU4hsfKjlsFfzvPBdKsi5hegUt3H0MyxauW3j55HVvfVMTsBBcC0">
                        <div class="form-group">
                        <div id="div_id_title" class="mb-3"> <label for="id_title" class="form-label requiredField">
                             {% comment %} Title<span class="asteriskField">*</span> </label> <input type="text" name="title" maxlength="100" class="textinput form-control" required="" id="id_title"> </div> <div id="div_id_description" class="mb-3"> <label for="id_description" class="form-label requiredField">
                             Description<span class="asteriskField">*</span> </label> <textarea name="description" cols="40" rows="10" class="textarea form-control" required="" id="id_description"></textarea> </div> <div id="div_id_technology" class="mb-3"> <label for="id_technology" class="form-label requiredField">
                             Technology<span class="asteriskField">*</span> </label> <input type="text" name="technology" maxlength="100" class="textinput form-control" required="" id="id_technology"> </div> <div id="div_id_estimated_time" class="mb-3"> <label for="id_estimated_time" class="form-label requiredField">
                             Estimated time<span class="asteriskField">*</span> </label> <input type="number" name="estimated_time" class="numberinput form-control" required="" id="id_estimated_time"> </div> <div id="div_id_start_date" class="mb-3"> <label for="id_start_date" class="form-label requiredField">
                             Start date<span class="asteriskField">*</span> </label> <input type="text" name="start_date" class="dateinput form-control" required="" id="id_start_date"> </div> <div id="div_id_completion_date" class="mb-3"> <label for="id_completion_date" class="form-label requiredField">
                             Completion date<span class="asteriskField">*</span> </label> <input type="text" name="completion_date" class="dateinput form-control" required="" id="id_completion_date"> </div> {% endcomment %}
                      </div>
                        <div class="form-group">
                       </div>
                        </form>
                      <form class="forms-sample" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          {{form | crispy}}
                        </div>
                        <div class="form-group">
                        <input class="btn btn-primary mr-2" type = "submit" value = "Submit">
                       {% comment %} <button type="submit" class="btn btn-primary mr-2">Submit</button>  {% endcomment %}
                        <input class="btn btn-light" type="reset" value="Cancel">
                        {% comment %} <div class="btn-group show">
                          <button type="button" class="btn btn-info">Status..</button>
                          <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton5" data-toggle="dropdown">
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <div class="dropdown-menu show">
                            <a class="dropdown-item" href="">Ongoing</a>
                            <a class="dropdown-item" href="">Pending</a>
                            <a class="dropdown-item" href="">Completed</a> {% endcomment %}
                        
                          </div>
                        </div>                
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
            </footer>
            <!-- partial -->
          </div>
          <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
</body>
</html>
{% endblock content %}