{% comment %} <form method ="POST">
    {% csrf_token %}
    {{form.as_p}}
    <input type ="submit" value ="submit"/>
</form> {% endcomment %}

{% load static %}
<link rel ="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

{% comment %} <div class="login-box">
  <h2>Login</h2>
  <form>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      MANAGER
    </a>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      DEVELOPER
    </a>
  </form>
</div> {% endcomment %}

<div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1">Welcome Back....</h2>
      <h4 class="animation a2">Please, choose your Designation</h4>
    </div>
    <div class="form">
      {% comment %} <input type="email" class="form-field animation a3" placeholder="MANAGER">
      <input type="password" class="form-field animation a4" placeholder="DEVELOPER"> {% endcomment %}
      <button class="animation a6">MANAGER</button>
      <button class="animation a6">DEVELOPER</button>
    </div>
  </div>
  <div class="right"></div>
</div>
